footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    background: #9561e2;
    padding: 20px;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
}