form {
  padding: 20px 0;
  .form-group {
    display: flex;
    flex-direction: column;
    input, textarea {
      background: white;
      border: 1px dashed #333;
      border-radius: 10px 5px;
      padding: 20px;
    }
  }
  button {
    cursor: pointer;
    border: 1px solid #2fa360;
    background: #2fa360;
    color: white;
    transition: background-color 0.3s, border 0.3s;
    padding: 10px 20px;
    border-radius: 20px 10px;
    &:hover {
      background: white;
      color: #2fa360;
      border: 1px solid #333;
    }
  }
}